body {
    background-color: whitesmoke;
}

header {
    background-color: gray;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

#h-score {
    color: red;
    text-decoration: underline;
    font-size: 20px;
    
}

#highscore-list {
    font-size: 25px;
}

#clearBtn {
    width: 300px;
    text-align: center;
}

.start-info {
    font-size: 20px;
}

#start-button {
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    border-radius: 20px;
    transition: all .7s ease-in-out;
    border-color: black;
    border-width: 3px;
    
}

#start-button:hover {
    background-color: grey;
    color: black;
    transform: translate(1px, -2px);
}

#answers-btn button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block; 
}

#questionnaires {
    margin-top: 30px;
}

#questions {
    font-size: 30px;
}

#answers-btn {
    font-size: 20px;
}

#answers-btn button:not(:last-child) {
    border-bottom: none;
}

#answers-btn button:hover {
    background-color: rgb(0, 140, 255);
    color: white
}

.hide {
    display: none;
}



.currScore {
    text-decoration: underline;
    color: blue;
}