body {
    background-color: white;
}

header {
    background-color: whitesmoke;
    padding-left: 10px;
    padding-top: 15px;
}

#start-info {
    font-size: 20px;
}

#start-button {
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

#start-button:hover {
    background-color: grey;
    transform: translate(1px, -2px);
}

#start-button:focus {
    background-color: red;
}

#answers-btn button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block; 
}

#questionnaires {
    margin-top: 30px;
}

#questions {
    font-size: 30px;
}

#answers-btn {
    font-size: 20px;
}

#answers-btn button:not(:last-child) {
    border-bottom: none;
}

#answers-btn button:hover {
    background-color: forestgreen;
    color: white
}

.hide {
    display: none;
}

.divContainer {
    display: none;
}